/******************************************************************
Theme Name: Bones - Kaplan Theme
Theme URI: http://www.themble.com/bones
Description: This site was built using the Bones Development Theme. For more information about Bones or to view documentation, you can visit the <a href="https://github.com/eddiemachado/bones/issues" title="Bones Issues">Bones Issues</a> page on Github. You'll want to customize this for your clients with your own information.
Author: Kean Duque
Author URI: http://www.yoururlhere.com
Version: 1.7
Tags: fluid-layout, responsive-layout, accessibility-ready, translation-ready, microformats, rtl-language-support

License: WTFPL
License URI: http://sam.zoy.org/wtfpl/
Are You Serious? Yes.


MAKE SURE TO READ BELOW BEFORE GETTING STARTED FOR THE FIRST TIME!
------------------------------------------------------------------

You may be thinking…

WHOA, WHOA, WHOA…WHAT HAPPENED HERE?

But before you freak out, let me take a few minutes to explain.

Bones now uses Sass by default. If you prefer using regular CSS,
then feel free to modify this theme how you like and keep a copy
as your own personal starting point.

DON'T DISMISS IT JUST YET THOUGH, USING Sass ISN'T AS COMPLICATED AS YOU THINK.

It does take a few minutes to wrap your head around, but it will all
be worth it. Need a quick intro? Here are a few quick reads:

http://simplebits.com/notebook/2013/11/13/sass-book/ (BUY THIS)
http://cognition.happycog.com/article/preprocess-this
http://viget.com/inspire/sass-a-designers-perspective
http://ianstormtaylor.com/oocss-plus-sass-is-the-best-way-to-css/
http://css-tricks.com/sass-style-guide/
http://net.tutsplus.com/tutorials/html-css-techniques/developing-with-sass-and-chrome-devtools/

I would HIGHLY RECOMMEND, if you are going to be working with Sass, that you work locally.
The browsers don't understand Sass and compiling it on the server takes a bit
of a setup.

That being said, here are a few MUST HAVE TOOLS for working with a
pre-processor: (You really only need one of them)

CodeKit: (Highly Recommended)
http://incident57.com/codekit/

Compass App: (Windows / Mac Users)
http://compass.handlino.com/

These applications compile Sass into valid CSS. This
way you can keep your production files easy to read and your
CSS minified and speedy. Simply set the output to the
library/css folder and you are all set. It's a thing of beauty.

You can also setup auto compiling with Grunt or using Terminal on
OSX. It's a bit complicated to setup so if you aren't familiar
with it, just get one of the automated applications.

---------------------------------------------------------------

Remember, once you download Bones it's up to you how to use it,
so go nuts. Set things up and develop in a way that's easiest for
you. If using Sass is still a bit confusing for you, then remove it
and customize this template as you see fit.

If you're a bit uneasy about using Sass or just want a familiar setup,
take a few minutes and think about how much better a developer you
can become by just TRYING out new technologies. It may be tough at
first but it WILL make you a better developer. TRUST ME ON THIS. Give
it a week, maybe two, and you will never go back.

If you STILL can't get on board and want to jump ship, that's cool.
Bones is not for everyone and that's ok, I mean I'm not hurt by it,
whatever, I never liked you anyway. Here are some other alternatives
if you're looking for a blank starter theme. I'll just be here waiting
by the window, in case you ever decide to come back.

http://roots.io/starter-theme (way more complex but has a ton of cool features)
http://html5reset.org (super clean and great markup)
https://github.com/viewportindustries/starkers (not sure if it's still active, but still good)

That's it. It's time to jump in and get your hands dirty.
Seriously, why are you still reading this? Get to work!
If you have any issues or problems, you can create an issue on github
or find me on Twitter: @eddiemachado (SHAMELESS PLUG!).

Happy Developing!

(When you're done, you may want to remove all this nonsense before
passing it along to your client.)

******************************************************************/

/*
WordPress Probz
So Theme Check (http://wordpress.org/plugins/theme-check/)
is constantly telling me that it needs these classes in the CSS even
though they are in the REAL stylesheet in library/css/style.css.
So we're gonna drop these here to keep it happy.
Great work, Theme Check (eye roll)
*/

.sticky {}          /* DO NOT EDIT THIS */
.gallery-caption {} /* THESE ARE USELESS */
.bypostauthor {}    /* THEY ARE ONLY TO KEEP THEME CHECK HAPPY */

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    min-height:100%;
    position:relative;
}
.header {
    padding:10px;
    background:#5ee;
}
#content {
    padding:10px;
    padding-bottom:80px; /* Height of the footer element */
}
.footer {
    width:100%;
    height:80px;
    position:absolute;
    bottom:0;
    left:0;
    background:#ee5;
}

.content-feed-template{
    margin-bottom:20px;
    min-height: 300px;
}

.col-feed-list ul {
    list-style-type: number !important;
    margin-left:15px;
}
.col-feed-list li a {
    color: #0000bb;
    font-size: 13px;
    line-height: 24px;
}
.col-feed-list ol, ul {
    font-size: 13px !important;
}
#inner-footer {
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
}

.header, .footer {
    background-color: #1d2172 !important;
    clear: both;
    color: #f8f9fa;
}

.nav li a {

    background: none repeat scroll 0 0 #2badd9 !important;
    border: 1px solid #2badd9;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "FacitWeb-semibold","lucida grande",sans-serif;
    font-size: 13px !important;
    font-weight: 500;
    line-height: 1.69231;
    margin: 0;
    outline: 0 none;
    overflow: hidden;
    text-decoration: none;
    transition: all 0.15s ease 0s;
    vertical-align: middle;
    width: auto;
    text-decoration: none;
   
}
.nav li a:hover{ 
    background: none repeat scroll 0 0 #96b711 !important;
}